@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.listItem {
	text-align: center;
}

.link {
	@include mixins.styleLinkHoverAndFocus(vars.$secondaryLight);
}
