// Flex and center an item.
@mixin flexCenter($direction) {
	display: flex;
	flex-direction: $direction;
	justify-content: center;
	align-items: center;
}

// Flex, center and add padding.
@mixin flexCenterWithPadding($direction) {
	@include flexCenter($direction);
	padding: 20px;
}

// Fill page and flex contents.
@mixin fillAndFlex($direction) {
	@include flexCenter($direction);
	height: 100vh;
}

// Sets the style for logos.
@mixin logoHeightAndWidth {
	height: 75px;
	width: 75px;
}

// Display and style an icon for account form inputs.
@mixin accountFormIcon($image) {
	height: 30px;
	padding-left: 30px;
	background: $image no-repeat 0px center;
	background-size: contain;
}

// Set height and width for close image.
@mixin closeIconSize {
	width: 20px;
	height: 20px;
}

// Position and center a popup.
@mixin positionCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Size component to fill page.
@mixin fillPage {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: scroll;
}

// Add base style for all buttons.
@mixin styleButton {
	border-radius: 5px;
	padding: 5px;
	font-size: 20rem;
}

// Add base style for inputs.
@mixin styleInput {
	font-size: 20rem;
}
