// Font sizes.
$bodyTextFontSize: 20rem;
$titleTextFontSize: 30rem;

// Colors.
$silver: #c7c6c2;
$dimGray: #646364;
$bloodRed: #6c0700;
$goldenBrown: #8e6c24;
$drabDarkBrown: #444025;
$hemlock: #696443;
$champagne: #f1e0c8;
$white: #ffffff;
$totemPole: #990f05;
$limedOak: #a68c53;

$primaryDark: $dimGray;
$primaryLight: $silver;
$secondaryDark: $drabDarkBrown;
$secondaryDarkTransition: $hemlock;
$secondaryLight: $goldenBrown;
$secondaryLightTransition: $limedOak;
$accentDark: $bloodRed;
$accentDarkTransition: $totemPole;
$accentLight: $champagne;
$secondaryText: $white;

$boxShadow: 0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075),
	0 4px 4px hsl(0deg 0% 0% / 0.075), 0 8px 8px hsl(0deg 0% 0% / 0.075),
	0 16px 16px hsl(0deg 0% 0% / 0.075);
