@use '../../assets/styles/mixins' as mixins;

.container {
	@include mixins.flexCenter(column);
	gap: 50px;
	height: 100%;
	width: 100%;
}

.button {
	border-radius: 5px;
	padding: 5px 0;
	font-size: 30rem;
	width: 50%;
}

@media (max-width: 800px) {
	.button {
		font-size: 20rem;
	}
}

@media (max-width: 500px) {
	.button {
		font-size: 15rem;
	}
}
