@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.delete {
	height: 50px;
	width: 50px;
	align-self: flex-end;

	&:hover,
	&:focus {
		filter: invert(10%) sepia(70%) saturate(3263%) hue-rotate(354deg)
			brightness(103%) contrast(112%);
	}
}

.listItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: vars.$primaryLight;
	box-shadow: vars.$boxShadow;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 200px;
	height: 200px;
}

.span {
	text-align: center;
}
