@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.delete {
	height: 50px;
	width: 50px;
	align-self: flex-end;
	@include mixins.styleDeleteHoverAndFocus();
}

.listItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: vars.$primaryLight;
	box-shadow: vars.$boxShadow;
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	@include mixins.styleRecipeHoverAndFocus();
}

.image {
	width: 200px;
	height: 200px;
	transition: transform 0.4s;
}

.span {
	text-align: center;
	transition: transform 0.4s;
}
