@use '../../assets/styles/mixins' as mixins;

.list {
	@include mixins.styleBodyText();
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text {
	text-align: center;
}

.ingredient {
	padding-left: 10px;
}
