@use '../../assets/styles/variables' as vars;

.list {
	font-size: vars.$bodyTextFontSize;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text {
	text-align: center;
}

.ingredient {
	padding-left: 10px;
}
