@use '../../assets/styles/variables' as vars;
@use '../../assets/styles/mixins' as mixins;

.list {
	font-size: vars.$bodyTextFontSize;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.text {
	text-align: center;
}

.link {
	@include mixins.styleLinkHoverAndFocus(vars.$secondaryLight);
}

.ingredient {
	padding-left: 10px;
}
