@use '../../assets/styles/variables' as vars;

.container {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	border-top: 1px solid vars.$accentLight;
	cursor: pointer;

	&:hover,
	&:focus {
		& > .image {
			filter: contrast(0.6);
			transform: scale(1.1);
		}
	}
}

.image {
	transition: transform 0.4s;
}

@media (max-width: 800px) {
	.image {
		height: 60px;
		width: 60px;
	}
}

@media (max-width: 600px) {
	.image {
		height: 40px;
		width: 40px;
	}
}
