@use './assets/styles/resetAndNormalize';

* {
	// outline: 1px solid black;
}
*:focus {
	background-color: red;
}

button {
	background-color: gray;
}

.app {
	display: grid;
	grid-template-rows: 1fr auto;
}
