@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.button {
	@include mixins.styleButton(
		vars.$secondaryDark,
		vars.$secondaryDarkTransition,
		vars.$accentLight
	);
	@include mixins.styleButtonHoverAndFocus();
	display: flex;
	align-items: center;
	gap: 10px;
}

.icon {
	height: 30px;
	width: 30px;
}
