@use '../../assets/styles/variables' as vars;

.container {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	border-top: 1px solid vars.$accentLight;
	border-right: 1px solid vars.$accentLight;
}

@media (max-width: 800px) {
	.image {
		height: 60px;
		width: 60px;
	}
}

@media (max-width: 600px) {
	.image {
		height: 40px;
		width: 40px;
	}
}
