@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.listItem {
	@include mixins.flexCenter(column);
	gap: 10px;
}

.button {
	@include mixins.styleButton();
	background-color: vars.$goldenBrown;
	color: vars.$secondaryText;
	width: 100%;
}
