@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: vars.$primaryLight;
	border-radius: 5px;
	box-shadow: vars.$boxShadow;
}

.span {
	font-size: vars.$titleTextFontSize;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.addItemButton {
	display: flex;
	justify-content: center;
}

.button {
	align-self: center;
}

.printButton {
	@include mixins.styleButton(
		vars.$secondaryDark,
		vars.$secondaryDarkTransition,
		vars.$accentLight
	);
	@include mixins.styleButtonHoverAndFocus();
}

.clearButton {
	@include mixins.styleButton(
		vars.$accentDark,
		vars.$accentDarkTransition,
		vars.$accentLight
	);
	@include mixins.styleButtonHoverAndFocus();
}

@media print {
	.form {
		background-color: white;
	}

	.button {
		display: none;
	}
}
