@use '../../assets/styles/mixins' as mixins;

.form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.addItemButton {
	display: flex;
	justify-content: center;
}

.button {
	@include mixins.styleButton();
	align-self: center;
}
