@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.form {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.span {
	font-size: vars.$titleTextFontSize;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.addItemButton {
	display: flex;
	justify-content: center;
}

.button {
	@include mixins.styleButton();
	align-self: center;
}

@media print {
	.button {
		display: none;
	}
}
