@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.container {
	@include mixins.positionCenter();
	background-color: white;
	display: grid;
	grid-template-rows: auto auto auto 1fr;
	gap: 10px;
	padding: 20px;
	height: 75%;
	width: 75%;
	overflow: scroll;
	background-color: vars.$primaryLight;
	border-radius: 5px;
}

.span {
	font-size: vars.$titleTextFontSize;
	text-align: center;
}
