@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.listItem {
	display: flex;
	align-items: center;
	border: 1px solid vars.$accentLight;
	border-radius: 5px;
	padding-left: 5px;
}

.input {
	border-radius: 5px;
	min-height: 20px;
	min-width: 20px;
}

.input:checked {
	accent-color: vars.$secondaryDark;
}

.label {
	padding-left: 10px;
	flex-grow: 1;
	font-size: vars.$bodyTextFontSize;
	display: flex;
	align-items: center;
	overflow: scroll;
}

.strike {
	text-decoration: line-through;
	filter: contrast(0);
}

.button {
	@include mixins.styleButton();
	background-color: vars.$accentDark;
	color: vars.$accentLight;
}

@media print {
	.button {
		display: none;
	}
}
