@use '../../assets/styles/mixins' as mixins;

.listItem {
	display: flex;
}

.label {
	padding-left: 10px;
	flex-grow: 1;
	font-size: 20rem;
	display: flex;
	align-items: center;
}

.button {
	@include mixins.styleButton();
}

@media print {
	.button {
		display: none;
	}
}
