@use '../../assets/styles/variables' as vars;

.listItem {
	display: flex;
	border: 1px solid black;
}

.label {
	font-size: vars.$bodyTextFontSize;
	padding-left: 10px;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.inPantry {
	color: vars.$successColor;
}
