@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.listItem {
	display: flex;
	border: 1px solid black;
}

.label {
	@include mixins.styleInput();
	padding-left: 10px;
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.inPantry {
	color: vars.$successColor;
}
