@use '../../assets/styles/variables' as vars;

.listItem {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-content: center;
	text-align: center;
	min-height: 500px;
	padding: 20px;
}

.span {
	font-size: vars.$titleTextFontSize;
}

.today {
	border: 5px solid blue;
}
