@use '../../assets/styles/mixins' as mixins;

.listItem {
	display: grid;
	grid-template-rows: auto 1fr;
	justify-content: center;
	text-align: center;
	min-height: 500px;
	padding: 20px;
}

.span {
	@include mixins.styleTitleText();
}

.today {
	border: 5px solid blue;
}
