@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.container {
	@include mixins.positionCenter();
	background-color: white;
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 10px;
	padding: 20px;
	width: 75%;
	height: 75%;
}

.span {
	text-align: center;
}

.success {
	color: vars.$successColor;
}
