@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.container {
	@include mixins.positionCenter();
	background-color: vars.$primaryLight;
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 10px;
	padding: 20px;
	width: 75%;
	height: 75%;
	border-radius: 5px;
}

.span {
	font-size: vars.$bodyTextFontSize;
	text-align: center;
}

.success {
	color: vars.$secondaryLight;
}
