@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5px);
}

.popupContainer {
	@include mixins.positionCenter();
	background-color: vars.$primaryLight;
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 10px;
	padding: 20px;
	width: 75%;
	height: 75%;
	border-radius: 5px;
	overflow: scroll;
}

.span {
	font-size: vars.$bodyTextFontSize;
	text-align: center;
}

.success {
	color: vars.$secondaryLight;
}
