@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.button {
	@include mixins.styleButton(
		vars.$secondaryDark,
		vars.$secondaryDarkTransition,
		vars.$accentLight
	);
	@include mixins.styleButtonHoverAndFocus();
	align-self: center;
	margin: 5px;
}

@media (max-width: 600px) {
	.button {
		font-size: 10rem;
	}
}
