@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.button {
	@include mixins.styleButton();
	align-self: center;
	margin: 5px;
	background-color: vars.$secondaryDark;
	color: vars.$accentLight;
}

@media (max-width: 600px) {
	.button {
		font-size: 10rem;
	}
}
