@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.form {
	display: grid;
	overflow: scroll;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	overflow: scroll;
	margin-bottom: 10px;
	gap: 10px;
	padding: 5px;
	border: 3px solid vars.$accentLight;
	border-radius: 5px;
	overflow: scroll;
}

.button {
	@include mixins.styleButton(
		vars.$secondaryDark,
		vars.$secondaryDarkTransition,
		vars.$accentLight
	);
	justify-self: center;
	width: 30%;
}

.button:enabled {
	@include mixins.styleButtonHoverAndFocus();
}

.button:disabled {
	filter: contrast(0.3);
}

@media (max-width: 500px) {
	.button {
		font-size: 15rem;
	}
}
