.form {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: scroll;
}

.list {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	overflow: scroll;
	margin-bottom: 10px;
	gap: 10px;
}

.button {
	align-self: center;
	width: 50%;
	border-radius: 5px;
	font-size: 30rem;
	padding: 5px 0;
}

@media (max-width: 800px) {
	.button {
		font-size: 20rem;
	}
}

@media (max-width: 500px) {
	.button {
		font-size: 15rem;
	}
}
