@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.form {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: scroll;
}

.list {
	flex-grow: 1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	overflow: scroll;
	margin-bottom: 10px;
	gap: 10px;
	padding: 5px;
	border: 3px solid vars.$accentLight;
	border-radius: 5px;
}

.button {
	@include mixins.styleButton();
	align-self: center;
	width: 30%;
	background-color: vars.$secondaryDark;
	color: vars.$accentLight;
}

@media (max-width: 500px) {
	.button {
		font-size: 15rem;
	}
}
