@use '../../assets/styles/variables' as vars;

.container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: vars.$primaryLight;
	border-radius: 5px;
	box-shadow: vars.$boxShadow;
}

.span {
	font-size: vars.$titleTextFontSize;
}
