@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: vars.$primaryDark;
	color: vars.$secondaryText;
	padding: 5px;
	gap: 5px;
}

.link {
	@include mixins.styleLinkHoverAndFocus(vars.$accentLight);
}
