@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

@font-face {
	font-family: 'romeriaNotes';
	src: url('../../assets/fonts/romerianotespersonaluseregular-ayy79-webfont.woff2')
			format('woff2'),
		url('../../assets/fonts/romerianotespersonaluseregular-ayy79-webfont.woff')
			format('woff');
}

.container {
	@include mixins.flexCenter(column);
	background-color: vars.$primaryLight;
	border-radius: 5px;
	gap: 10px;
	padding: 50px;
	min-width: 30%;
	box-shadow: vars.$boxShadow;
}

.icon {
	@include mixins.logoHeightAndWidth();
}

.span {
	font-size: 40rem;
	font-weight: bold;
	font-family: 'romeriaNotes', sans-serif;
}

@media (max-width: 600px) {
	.container {
		height: 100vh;
		width: 100%;
	}
}
