@use '../../assets/styles/variables' as vars;
@use '../../assets/styles/mixins' as mixins;

.list {
	text-align: center;
}

.noRecipes {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.recipes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	gap: 20px;
}

.text {
	align-self: center;
	justify-self: center;
	color: vars.$secondaryText;
}

.link {
	@include mixins.styleLinkHoverAndFocus(vars.$accentLight);
}
