.container {
	align-self: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
}

.delete {
	align-self: flex-end;
	width: 50px;
	height: 50px;

	&:hover,
	&:focus {
		filter: invert(10%) sepia(70%) saturate(3263%) hue-rotate(354deg)
			brightness(103%) contrast(112%);
	}
}

.link {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.image {
	width: 200px;
	height: 200px;
}
