@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.listItem {
	@include mixins.flexCenter(column);
	gap: 10px;
}

.link {
	color: vars.$bloodRed;
}
