@use '../../assets/styles/variables' as vars;

.listItem {
	display: flex;
	justify-content: space-between;
	border: 1px solid vars.$accentLight;
	border-radius: 5px;
}

.span {
	flex-grow: 1;
	font-size: 20rem;
	display: flex;
	align-items: center;
}
