@use '../../assets/styles/variables' as vars;

.listItem {
	display: grid;
	grid-template-columns: 1fr auto;
	border: 1px solid vars.$accentLight;
	border-radius: 5px;
}

.span {
	flex-grow: 1;
	font-size: 20rem;
	display: flex;
	align-items: center;
}
