@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.button {
	@include mixins.styleButton(
		vars.$secondaryDark,
		vars.$secondaryDarkTransition,
		vars.$accentLight
	);
	@include mixins.styleButtonHoverAndFocus();
}
