@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.input {
	@include mixins.accountFormIcon(url(../../assets/images/password.png));
	font-size: vars.$bodyTextFontSize;
}

.button {
	@include mixins.styleButton();
	background-color: vars.$secondaryDark;
	color: vars.$accentLight;
}
