@use '../../assets/styles/variables' as vars;

.list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	background-color: vars.$primaryLight;
	box-shadow: vars.$boxShadow;
}
