@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.listItem {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 5px solid black;
}

.input {
	font-size: vars.$bodyTextFontSize;
}

.container {
	display: flex;
	justify-content: space-around;
}

.button {
	@include mixins.styleButton();
	width: 30%;
}
