@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.listItem {
	display: flex;
	flex-direction: column;
	gap: 5px;
	border: 3px solid vars.$accentLight;
	border-radius: 5px;
	padding: 10px;
}

.input {
	font-size: vars.$bodyTextFontSize;
}

.container {
	display: flex;
	justify-content: space-around;
}

.button {
	@include mixins.styleButton();
	width: 30%;
}

.addButton {
	background-color: vars.$secondaryDark;
	color: vars.$accentLight;
}

.cancelButton {
	background-color: vars.$secondaryLight;
	color: vars.$secondaryText;
}
