@use '../../assets/styles/variables' as vars;

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

.listItem {
	font-size: vars.$bodyTextFontSize;
}

.error {
	color: vars.$errorColor;
}

.success {
	color: vars.$successColor;
}
