@use '../../assets/styles/mixins' as mixins;
@use '../../assets/styles/variables' as vars;

.link {
	@include mixins.flexCenter(column);
	flex: 1;
	padding: 5px;
	@include mixins.styleNavItemHoverAndFocus();
	transition: transform 0.6s;
	overflow: hidden;
	position: relative;
}

.image {
	height: 50px;
	width: 50px;
	filter: invert(99%) sepia(5%) saturate(0%) hue-rotate(312deg) brightness(115%)
		contrast(100%);
}

.span {
	text-align: center;
	overflow-wrap: break-word;
	color: vars.$secondaryText;
}

@media (max-width: 600px) {
	.image {
		height: 30px;
		width: 30px;
	}
	.span {
		font-size: 10px;
	}
}
