@use '../../assets/styles/mixins' as mixins;

.link {
	@include mixins.flexCenter(column);
	flex: 1;
	padding: 5px;
}

.image {
	height: 50px;
	width: 50px;
}

.span {
	text-align: center;
	overflow-wrap: break-word;
}

@media (max-width: 600px) {
	.image {
		height: 30px;
		width: 30px;
	}
	.span {
		font-size: 10px;
	}
}
